:root {
	--primary-bright-blue: hsl(220, 98%, 61%);
	--gradient-bg-1: hsl(192, 100%, 67%);
	--gradient-bg-2: hsl(280, 87%, 65%);

	--light-vl-gray: hsl(0, 0%, 98%);
	--light-vl-grayish-blue: hsl(236, 33%, 92%);
	--light-l-grayish-blue: hsl(233, 11%, 84%);
	--light-d-grayish-blue: hsl(236, 9%, 61%);
	--light-vd-grayish-blue: hsl(235, 19%, 35%);

	--dark-vd-blue: hsl(235, 21%, 11%);
	--dark-vd-des-blue: hsl(235, 24%, 19%);
	--dark-l-grayish-blue: hsl(234, 39%, 85%);
	--dark-l-grayish-blue-hover: hsl(236, 33%, 92%);
	--dark-d-grayish-blue: hsl(234, 11%, 52%);
	--dark-vd-grayish-blue-1: hsl(233, 14%, 35%);
	--dark-vd-grayish-blue-2: hsl(237, 14%, 26%);
}
* {
	margin: 0;
	padding: 0;
}
body {
	height: 100vh;
	width: 100%;
	font-size: 18px;
	font-family: 'Josefin Sans', sans-serif;
}
.color-wrapper {
	height: 100vh;
	width: 100%;
	background-color: var(--dark-vd-blue);
}
.image-wrapper {
	height: 37vh;
	width: 100%;
	z-index: -1;
	background-image: url('./images/bg-desktop-dark.jpg');
	background-size: cover;
	background-position: top top;
	background-repeat: no-repeat;
}
.image-wrapper > img {
	height: auto;
	min-width: 100%;
}
.main-block {
	height: 100vh;
	min-width: 100%;
	display: grid;
	place-items: center;
}
.todo {
	max-width: 700px;
	margin: 0 auto;
}
.todo__head {
	display: flex;
	align-items: baseline;
	justify-content: space-between;
	color: white;
}
.todo__head-text {
	font-size: 2.7rem;
	font-weight: 400;
	letter-spacing: 1rem;
}
.todo__head-icon {
	cursor: pointer;
	height: 100%;
	width: 2.2rem;
	display: flex;
}
.todo__head-icon__item {
	position: relative;
	top: 0.1rem;
	align-self: center;
	width: 100%;
}
